<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hangfire.Core" version="1.7.0" targetFramework="net472" />
  <package id="Hangfire.SqlServer" version="1.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net472" />
  <package id="Dapper" version="1.60.6" targetFramework="net472" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
</packages>